<div class="d-flex mt-1 mb-1">
  <button class="btn btn-primary mr-1" *ngFor="let item of category">
    <a routerLink="/admin/question/{{item.type}}">Quản trị {{ item.name }}</a>
  </button>
</div>

<div>
  <a routerLink="/admin/add">Thêm câu hỏi</a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Câu hỏi</th>
      <th scope="col">Câu trả lời</th>
      <th scope="col">Đáp án</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allQuestions">
      <th scope="row">1</th>
      <td>{{ item.question }}</td>
      <td>
        <ul>
          <li>{{ item.a }}</li>
          <li>{{ item.b }}</li>
          <li>{{ item.c }}</li>
          <li>{{ item.d }}</li>
        </ul>
      </td>
      <td>
        {{ item.answer }}
      </td>
      <td>
        <button class="btn btn-danger mr-1" (click)="deleteQuestion(item.id)">
          Xoá
        </button>
        <button class="btn btn-primary mr-1">Cập nhật</button>
      </td>
    </tr>
  </tbody>
</table>
